@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            @if(User.ToString() == "System.Security.Claims.ClaimsPrincipal")
            {
                <h1 class="display-4">Welcome @User.Identity.Name</h1>
            }
            else
            {
                <h1 class="display-4">Welcome to the Information System</h1>
            }
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <img src="/images/deliveryappbild.jpg" class="img-fluid" alt="Delivery App Image" />
        </div>
    </div>
</div>


